.title_area {
  margin-top: 40px;
}
.singCourse_title {
  font-family: sans-serif;
}
.navbar-default .navbar-brand {
  font-size: 32px;
  color: #d7d7d7;
  width: 240px;
}
.navbar-default {
  background-color: #222222;
}

.spacer {
  height: 40px;
}
